Result/
Results/
Extra/
.ipynb_checkpoints/Results-Copy6-checkpoint.ipynb
.ipynb_checkpoints/Results-Copy5-checkpoint.ipynb
.ipynb_checkpoints/Results-Copy4-checkpoint.ipynb
.ipynb_checkpoints/Results-Copy3-checkpoint.ipynb
.ipynb_checkpoints/Results-Copy2-checkpoint.ipynb
.ipynb_checkpoints/Results-Copy1-checkpoint.ipynb
